1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ShutDown"
            VALUE "FileDescription", "Windows scheduled shutdown utility"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "ProductName", "ShutDown"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
